{
  "autopage_interval": 5,
  "default_url": "https://exhentai.org",
  "display_downloads_on_start": false,
  "downloads_order_method": "st_mtime",
  "favcat_nums_titles": [
    [
      "favcat0",
      "0",
      "Favorites 0"
    ],
    [
      "favcat1",
      "0",
      "Favorites 1"
    ],
    [
      "favcat2",
      "0",
      "Favorites 2"
    ],
    [
      "favcat3",
      "0",
      "Favorites 3"
    ],
    [
      "favcat4",
      "0",
      "Favorites 4"
    ],
    [
      "favcat5",
      "0",
      "Favorites 5"
    ],
    [
      "favcat6",
      "0",
      "Favorites 6"
    ],
    [
      "favcat7",
      "0",
      "Favorites 7"
    ],
    [
      "favcat8",
      "0",
      "Favorites 8"
    ],
    [
      "favcat9",
      "0",
      "Favorites 9"
    ]
  ],
  "favorites_order_method": null,
  "search_phrases": [
    "Pixiv",
    "horse",
    "language:chinese$"
  ],
  "storage_search_phrases": [
    "language:chinese$",
    "female:shibari$ language:chinese$",
    "Pixiv"
  ]
}